.currstate {
    width: 60%;
    height: 60px;
    position: relative;
    left: 30%;
}

#currfloor {
    width: 35%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    left: 0;
    background-color: rgb(253, 253, 151);
    color: black;
}

#direction {
    width: 35%;
    height: 100%;
    position: absolute;
    left: 30px;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(253, 253, 151);
    color: black;
}

.select {
    cursor: pointer;
}