html {
    box-sizing: border-box;
    width: 100%;
}

body {
    width: 100%;
    background-color: rgb(238, 251, 255);
    position: relative;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}